{% extends 'global/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    {% include 'global/partials/_messages.html' %}

    

    {% if not request.user.is_authenticated %}
        <div class="login-form">
            {% include 'global/partials/_form.html' %}
        </div>
    {% else %}
        <div class="center-messages">
            <div class="logout-message">
                <p>Você está logado como {{ user.username }}, clique</p>
                <form action="{% url 'accounts:logout' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="username" value="{{ user.username }}">
                    <button type="submit" class="plaintext-button">aqui</button>
                </form>
                <p>para sair.</p>
            </div>
        </div>
    {% endif %}
{% endblock content %}
