{% extends 'global/base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
    {% include 'global/partials/_messages.html' %}
    <div class="my-draws-content">
        <div class="artist-area">
            <div class="user-img">
                <img src="" alt="">
            </div>
            <h2>{{ request.user.get_full_name }}</h2>
            <a href="">
                <i class="fas fa-light fa-pen-to-square fa-lg"></i>
            </a>

            <div class="artist-about">
                <h3>Sobre o artista:</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Impedit delectus nostrum qui ipsum. Ab accusantium tempore unde,
                    inventore doloremque ipsum, excepturi dolore beatae maxime ipsam officiis,
                </p>
            </div>
        </div>
        <div class="my-draws">
            <div class="my-draws-header">
                <h2>Desenhos de {{ request.user.first_name }}:</h2>
                <a href="{% url 'accounts:my_draws_create' %}">
                    <i class="fas fa-light fa-plus fa-lg"></i>
                </a>
            </div>
            {% for draw in draws %}
                <div class="my-draws-card">
                    <a class="img-link" href="{% url 'draws:draw_view' draw.id %}">
                        {% if draw.img %}
                            <img src="{{ draw.img.url }}" alt="">
                        {% endif %}
                    </a>

                    <div class="my-draw-info">
                        <div class="draw-title">
                            <a href="{% url 'draws:draw_view' draw.id %}">{{ draw.title }}</a>
                            <p>{{ draw.description }}</p>
                        </div>
                        <div class="my-draw-status">
                            <p>1234 Likes</p>
                        </div>
                    </div>
                    <div class="draw-edit-icons">
                        <a href="{% url 'accounts:my_draws_edit' draw.id %}">
                            <i class="fas fa-light fa-pen-to-square fa-lg"></i>
                        </a>
                        <a href="">
                            <i class="fas fa-light fa-trash fa-lg"></i>
                        </a>
                    </div>
                </div>
            {% empty %}
                <p>Você ainda não tem nenhum desenho publicado.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
