{% extends 'global/base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
    {% include 'global/partials/_messages.html' %}
    <div class="my-draws-content">
        <div class="artist-area">
            <div class="user-img">
                <img src="" alt="">
            </div>
            <h2>{{ request.user.get_full_name }}</h2>
            <a href="">
                <i class="fas fa-light fa-pen-to-square fa-lg"></i>
            </a>

            <div class="artist-about">
                <h3>Sobre o artista:</h3>
                <p>{{ request.user.profile.bio }}</p>
            </div>
        </div>
        <div class="my-draws">
            <div class="my-draws-header">
                <h2>Desenhos de {{ request.user.first_name }}:</h2>
                <a href="{% url 'accounts:my_draws_create' %}">
                    <i class="fas fa-light fa-plus fa-lg"></i>
                </a>
            </div>
            {% for draw in draws %}

                {% if draw.is_published %}
                    <div class="my-draws-card">
                        <a class="img-link" href="{% url 'draws:draw_view' draw.id %}">
                            {% if draw.img %}
                                <img src="{{ draw.img.url }}" alt="">
                            {% endif %}
                        </a>

                        <div class="my-draw-info">
                            <div class="draw-title">
                                <a href="{% url 'draws:draw_view' draw.id %}">{{ draw.title }}</a>
                                <p>{{ draw.description }}</p>
                            </div>
                            <div class="my-draw-status">
                                <p>(Publicado)</p>
                                <p>1234 Likes</p>
                            </div>
                        </div>
                        <div class="draw-edit-icons">
                            <a href="{% url 'accounts:my_draws_edit' draw.id %}">
                                <i class="fas fa-light fa-pen-to-square fa-lg"></i>
                            </a>
                            <form class="form-delete" action="{% url 'accounts:my_draws_delete' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="id" value="{{ draw.id }}">
                                <button class="delete-button" type="submit"><i class="fas fa-light fa-trash fa-lg"></i></button>
                            </form>
                        </div>
                    </div>
                {% else %}
                    <div class="my-draws-card">
                        <a class="img-link" href="{% url 'draws:draw_view' draw.id %}">
                            {% if draw.img %}
                                <img src="{{ draw.img.url }}" alt="">
                            {% endif %}
                        </a>

                        <div class="my-draw-info">
                            <div class="draw-title">
                                <a href="{% url 'draws:draw_view' draw.id %}">{{ draw.title }}</a>
                                <p>{{ draw.description }}</p>
                            </div>
                            <div class="my-draw-status">
                                (Não publicado)
                                <p>1234 Likes</p>
                            </div>
                        </div>
                        <div class="draw-edit-icons">
                            <a href="{% url 'accounts:my_draws_edit' draw.id %}">
                                <i class="fas fa-light fa-pen-to-square fa-lg"></i>
                            </a>
                            <form class="form-delete" action="{% url 'accounts:my_draws_delete' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="id" value="{{ draw.id }}">
                                <button class="delete-button" type="submit"><i class="fas fa-light fa-trash fa-lg"></i></button>
                            </form>
                        </div>
                    </div>
                {% endif %}

            {% empty %}
                <p>Você ainda não tem nenhum desenho publicado.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
