{% extends 'global/base.html' %}

{% block title %}Editar Desenho{% endblock title %}

{% block content %}
    {% if draw and not draw.is_published %}
        <p class="center-messages">ATENÇÃO: Desenho aguardando aprovação para ser publicado.</p>
    {% endif %}
    <p class="center-messages">
        Editar ou criar um desenho fará com que ele fique como "não publicado".
        O mesmo será publicado após uma revisão da administração.
    </p>

    {% include 'global/partials/_messages.html' %}

    {% include 'global/partials/_form.html' %}
{% endblock content %}