{% extends 'global/base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
    <div class="my-draws-content">
        <div class="artist-area">
            <div class="user-img">
                {% if profile.user_img %}
                    <img src="{{ profile.user_img.url }}" alt="">
                {% endif %}
            </div>
            <h2>{{ profile.user.get_full_name }}</h2>

            <div class="artist-about">
                <h3>Artist about</h3>
                <p>{{ profile.bio }}</p>
            </div>
        </div>
        <div class="my-draws">
            <h2>{{ profile.user.first_name }}'s draws</h2>
            {% for draw in draws %}
                <div class="my-draws-card">
                    <a class="img-link" href="{% url 'draws:draw_view' draw.id %}">
                        {% if draw.img %}
                            <img src="{{ draw.img.url }}" alt="">
                        {% endif %}
                    </a>

                    <div class="my-draw-info">
                        <div class="draw-title">
                            <a href="{% url 'draws:draw_view' draw.id %}">{{ draw.title }}</a>
                            <p>{{ draw.description }}</p>
                        </div>
                        <div class="my-draw-status">
                            <p>{{ draw.like_count }} Like{{ draw.like_count|pluralize }}</p>
                        </div>
                    </div>
                </div>
            {% empty %}
                <p>Este usuário ainda não publicou nenhum desenho.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
