{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% include './partials/_head.html' %}
    <title>{% block title %}{% endblock title %} | Draw-Project</title>
</head>
<body>
    {% include './partials/_header.html' %}

    <body>

        <div class="content-area">
            <div class="main-content">
                
                {% block content %}
                {% endblock content %}

            </div>
        </div>

    </body>

    {% include './partials/_footer.html' %}
</body>
</html>