<div class="form-content">
    <form class="main-form" action="{{ form.action }}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>{{ form_title }}</h2>
        {% for field in form %}

            <label for="{{ field.id_for_label }}">
                {{ field.label }}
            </label>
            {{ field }}

            {% if field.help_text %}
                <p class="help-text">{{ field.help_text }}</p>
            {% endif %}

        {% endfor %}
        <div class="form-button">
            <button type="submit">{{ form_button }}</button>
        </div>
    </form>
</div>