<div class="form-content">
    <form class="main-form" action="{{ form_action }}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>{{ form_title }}</h2>
        {% for field in form %}

            <label for="{{ field.id_for_label }}">
                {{ field.label }}
            </label>
            {{ field }}

            {% if field.help_text %}
                <p class="help-text">{{ field.help_text }}</p>
            {% endif %}

        {% endfor %}
        <div class="form-button">
            <button type="submit">{{ form_button }}</button>
            {% if is_login_form %}
                <p>Ou</p>
                <a href="{% url 'accounts:register' %}" class="login-button">Registre-se</a>
            {% endif %}
        </div>

        
    </form>
</div>