<header class="main-navigation">
    <nav>
        <h1><a class="site-title" href="{% url 'draws:home' %}">TITLE</a></h1>
        <form class="search_form" action="{% url 'draws:draws_search' %}">
            <input class="search-input" type="search" placeholder="Pesquisar" name="q" autocomplete="off" value="{{ search_term }}" required>
            <button class="search-button" type="submit" class="search-button">
                <i class="fas fa-search"></i>
            </button>
        </form>
        <ul>
            {% if not request.user.is_authenticated %}
                <li><a href="{% url 'accounts:login' %}">Login</a></li>
            {% else %}
                <div class="user-icon-menu">
                    <button class="dropdown-user">
                        {% if request.user.profile.user_img %}
                            <img src="{{ request.user.profile.user_img.url }}" alt="">
                        {% else %}    
                            <i class="fas fa-light fa-user fa-xl"></i>
                        {% endif %}
                    </button>
                    <div class="dropdown-user-content">
                        <p>{{ request.user.first_name }}</p>
                        <div class="dropdown-links">
                            <a href="{% url 'draws:home' %}">Feed</a>
                            <a href="{% url 'accounts:my_draws_create' %}">Novo desenho</a>
                            <a href="{% url 'accounts:my_draws' %}">Meus desenhos</a>
                            <a href="{% url 'accounts:liked_posts' %}">Curtidas</a>
                            <a href="{% url 'accounts:profile_edit' request.user.id %}">Perfil</a>
                        </div>
                        <form action="{% url 'accounts:logout' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="username" value="{{ user.username }}">
                            <button class="logout-button" type="submit">Sair</button>
                        </form>
                    </div>
                </div>
            {% endif %}
        </ul>
    </nav>
</header>