:root {
    --color-primary: #b9a7ef;
    --color-secondary: #181529;
    --color-tertiary: rgb(222, 54, 88);
    --color-primary-dark-hover: #161b33;
    --color-primary-light: #d4ecfa;
    --color-primary-light-hover: #bdd8e7;

    --color-dark-text: rgb(96, 95, 95);
    --color-info-light: #cce5ff;
    --color-debug-light: #cce5ff;
    --color-success-light: #d4edda;
    --color-alert-light: #fff3cd;
    --color-warning-light: #fff3cd;
    --color-error-light: #f8d7da;

    --color-info-dark: #4d86c4;
    --color-debug-dark: #4d86c4;
    --color-success-dark: #4a9c5d;
    --color-alert-dark: #927f40;
    --color-warning-dark: #927f40;
    --color-error-dark: #da525d;

    --color-gray-0: #f9f9f9;
    --color-gray-1: #e0e0e0;
    --color-gray-2: #c7c7c7;
    --color-gray-3: #aeaeae;
    --color-gray-4: #959595;
    --color-gray-5: #7d7d7d;
    --color-gray-6: #646464;
    --color-gray-7: #4b4b4b;
    --color-gray-8: #323232;
    --color-gray-9: #191919;

    --font-primary: sans-serif;
    --font-headings: 'Roboto Slab', serif;

    --spacing-gutter-medium: 3rem;
    --spacing-gutter-large: 4rem;
}

/* Basic */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 55%;
}

body {
    font-size: 1.7rem;
    font-family: var(--font-primary);
    background-color: var(--color-primary);
    color: var(--color-dark-text);
}

a {
    text-decoration: none;
}

/* Pagination */

.pagination-content {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem 1rem;
    position: relative;
    margin-top: 2rem;
}

.pagination-content .page-link {
    color: var(--color-tertiary);
    background-color: var(--color-secondary);
    display: block;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: all 300ms ease-in-out;
    border: 0.1rem solid var(--color-secondary);
}

.pagination-content .page-link:hover {
    background-color: var(--color-primary);
}

.pagination-content .current-page {
    background-color: var(--color-primary);
}

/* Header */

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.main-navigation {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--color-secondary);
}

.main-navigation .site-title {
    color: var(--color-tertiary);
}

.main-navigation nav {
    width: 140rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
}

.main-navigation nav a {
    color: var(--color-gray-1);
}

.main-navigation nav ul {
    list-style: none;
    display: flex;
}

.main-navigation nav li a {
    padding: 1rem;
    font-size: 1.8rem;
    transition: all 150ms ease-in-out;
}

.main-navigation nav li a:hover {
    color: var(--color-tertiary);
}

.search_form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input {
    width: 20%;
    background-color: var(--color-primary-dark);
    color: var(--color-gray-1);
    border: none;
    border-bottom: 0.1rem solid var(--color-tertiary);
    transition: all 200ms ease-in-out;
    text-indent: 0.6rem;
    outline: none;
}

.search-input:focus {
    outline: none;
    width: 30%;
}

.search-button {
    border: none;
    background: none;
    outline: none;
    color: var(--color-tertiary);
}

/* Body */

.content-area {
    display: flex;
    max-width: 140rem;
    justify-content: center;
    margin: var(--spacing-gutter-medium) auto;
    padding: 0 1rem;
}

.main-content {
    width: 100%;
    margin-top: 4rem;
    padding: 2rem 0;
}

/* Home view */

.trending-area {
    width: 100%;
    padding: 2rem 0;
}

.trending-area h2 {
    color: var(--color-secondary);
}

.trending-list {
    padding: 1rem;
    padding-bottom: 2rem;
    width: 100%;
    height: 58rem;
    display: flex;
    align-items: stretch;
    flex-direction: row;
    margin-top: 1rem;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.trending-list::-webkit-scrollbar {
    height: 1rem;
}

.trending-list::-webkit-scrollbar-thumb,
.trending-list::-webkit-scrollbar-track {
    border-radius: 92px;
}

.trending-list::-webkit-scrollbar-thumb {
    background-color: var(--color-tertiary);
}

.trending-list::-webkit-scrollbar-track {
    background-color: var(--color-gray-3);
}

.trending-post {
    position: relative;
    margin: 0 2rem;
    max-width: 35rem;
    min-width: 35rem;
    box-shadow: 0.2rem 0.2rem 1rem var(--color-gray-8);
    transition: all 300ms ease-in-out;
}

.trending-post:hover {
    transform: scale(1.01);
}

.post-img {
    height: 42rem;
}

.like-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: none;
    cursor: pointer;
    background-color: inherit;
    border: none;
    color: var(--color-tertiary);
}

.like-button:hover {
    transform: scale(1.1);
    color: rgb(197, 13, 13)
}

.trending-post img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.trending-post footer {
    position: relative;
    font-size: 1.5rem;
    padding: 1rem;
    background-color: var(--color-gray-2);
}

.trending-post footer p {
    color: var(--color-gray-8);
}

.user-info {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-top: 1rem;
}

.user-info a {
    color: var(--color-tertiary);
}

.post-info a {
    font-size: 2rem;
    color: var(--color-secondary);
}

.post-info p {
    margin-bottom: 1rem;
}

.post-info h3 {
    margin-bottom: 0.5rem;
}

.post-info .post-description {
    color: var(--color-gray-7)
}

.recent-posts {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recent-posts a {
    color: var(--color-tertiary);
}

.recent-posts .all-draws-link {
    padding: 0.7rem 1.5rem;
    color: var(--color-gray-0);
    background-color: var(--color-secondary);
    border: 0.1rem solid var(--color-secondary);
    border-radius: 0.5rem;
    transition: all 300ms ease-in-out;
}

.recent-posts .all-draws-link:hover {
    background-color: var(--color-primary);
    color: var(--color-tertiary);
    border: 0.1rem solid var(--color-secondary);
}

/* Draw detail page */

.draw-view {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 var(--spacing-gutter-medium)
    /* background-color: var(--color-gray-0); */
}

.draw-view h2 {
    font-size: 4rem
}

.draw-view h3 {
    font-size: 2.3rem;
}

.draw-view h2, h3 {
    color: var(--color-secondary);
}
.draw-view a {
    color: var(--color-tertiary)
}

.draw-view p {
    font-size: 1.8rem;
}

.draw-head {
    text-align: center;
    padding: var(--spacing-gutter-medium);
}

.draw-head .draw-description {
    font-size: 2.2rem;
    margin-top: 1rem;
    color: var(--color-gray-9);
}

.draw-body {
    display: flex;
    max-width: 100%;
    flex-direction: column;
    align-items: center;
}

.draw-img {
    max-width: 55rem;
    padding: 2rem;
    background-color: var(--color-gray-1);
    box-shadow: 0.2rem 0.2rem 1rem var(--color-gray-7);
}

.draw-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.draw-info {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0 0;
}

.like-area {
    display: flex;
    align-items: center;
}

.like-area p {
    margin-left: 1rem;
    color: var(--color-gray-9);
}

.like-area button {
    position: inherit;
}

.draw-about {
    padding: 2rem 0;
    border-top: 0.1rem solid var(--color-gray-4);
    border-bottom: 0.1rem solid var(--color-gray-4);
    margin: 1rem 0;
}

.draw-about p {
    margin: 1rem 0;
    color: var(--color-gray-9);
}

.creation-details {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

/* All draws */

.all-content {
    padding: 2rem 0;
}

.all-content h2 {
    color: var(--color-secondary)
}

.all-list {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 2rem;
    justify-items: center;
}

.all-list .trending-post{
    margin-top: 2rem;
}

/* Accounts form */

.form-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-form {
    display: flex;
    flex-flow: column wrap;
    padding: 4rem;
    background-color: var(--color-gray-1);
    box-shadow: 0.2rem 0.2rem 1rem var(--color-gray-6);
}

.main-form h2 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-tertiary)
}

.main-form label {
    margin: 2rem 0 0.3rem;
    color: var(--color-secondary);
    font-size: 1.8rem;
    font-weight: 500;
}

.main-form input {
    max-width: 60rem;
    min-width: 30rem;
    height: 3rem;
    background-color: var(--font-primary);
    border: none;
    outline: none;
    border-bottom: 0.1rem solid var(--color-secondary);
    text-indent: 0.5rem;
    transition: all 300ms ease-in-out;
    font-size: 1.6rem
}

.main-form input:focus {
    border-bottom: 0.1rem solid var(--color-tertiary);
}

.main-form .help-text {
    font-size: 1.5rem;
    margin: 0.3rem;
}

.form-button {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 3.5rem;
}

.form-button button {
    width: 15rem;
    height: 3.5rem;
    border-radius: 0.5rem;
    border: 0.1rem solid var(--color-secondary);
    background-color: var(--color-secondary);
    color: var(--color-tertiary);
    transition: all 300ms ease-in-out;
    cursor: pointer;
    font-size: 1.7rem;
}

.form-button button:hover {
    background-color: var(--color-primary);
    border: 0.1rem solid var(--color-tertiary);
}

@media (max-width: 1200px) {
    .all-list {
        grid-template-columns: 1fr 1fr;
    }

    .search-input {
        width: 50%;
    }

    .search-input:focus {
        width: 60%;
    }

}

@media (max-width: 1000px) {
    .all-list {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 460px) {
    .all-content {
        padding: 0 1rem;
    }

}

@media (max-width: 400px) {
    h1,
    .draw-head .draw-title {
        font-size: 2.4rem;
    }

    h2 {
        font-size: 2.3rem;
    }

    h3,
    .draw-about h3 {
        font-size: 2rem;
    }

    .main-navigation nav li a,
    .draw-head .draw-description,
    .draw-view p {
        font-size: 1.6rem;
    }

    .recent-posts .all-draws-link {
        padding: 0.5rem 1rem;
        font-size: 1.6rem;
    }

    .main-form {
        padding: 2rem;
        background-color: var(--color-primary);
        box-shadow: none;
    }
}

@media (max-width: 380px) {
    .trending-post {
        min-width: 30rem;
        max-width: 30rem;
    }

}

@media (max-width: 330px) {
    .trending-post {
        min-width: 25rem;
        max-width: 25rem;
    }

    .recent-posts .all-draws-link {
        padding: 0.4rem 0.8rem;
    }
}
