<div class="trending-area">
    <h2>Trending Posts</h2>
    <div class="trending-list">

        {% for draw in draws %}
            <div class="trending-post">
                {% if draw.img %}
                    <a href="">
                            <img src="{{ draw.img.url }}" alt="image">
                    </a>
                {% endif %}
                <footer>
                    <div class="post-info">
                        <h3><a href="">{{ draw.title }}</a></h3>
                        <p>{{ draw.description }}</p>
                    </div>

                    <div class="user-info">
                        <a href="">{{ draw.author.username }}</a>
                        <p>{{ draw.created_at|date:"M d, Y" }}</p>
                    </div>
                </footer>
            </div>
        {% empty %}
            <p>Nenhum desenho em trendings.</p>
        {% endfor %}

    </div>
</div>

<div class="trending-area">
    <h2>Recent Posts</h2>
    <div class="trending-list">

        {% for draw in draws %}
        <div class="trending-post">
            {% if draw.img %}
                <a href="">
                        <img src="{{ draw.img.url }}" alt="image">
                </a>
            {% endif %}
            <footer>
                <div class="post-info">
                    <h3><a href="">{{ draw.title }}</a></h3>
                    <p>{{ draw.description }}</p>
                </div>

                <div class="user-info">
                    <a href="">{{ draw.author.username }}</a>
                    <p>{{ draw.created_at }}</p>
                </div>
            </footer>
        </div>
        {% empty %}
            <p>Nenhum desenho recente.</p>
        {% endfor %}

    </div>
</div>