<div class="trending-post {{ border }}">

    <div class="post-img">
        {% if draw.img %}
            <a href="{% url 'draws:draw_view' draw.id %}"><img src="{{ draw.img.url }}" alt="image"></a>
        {% endif %}
    </div>
    <footer>
        <div class="post-info">
            <h3><a href="{% url 'draws:draw_view' draw.id %}">{{ draw.title }}</a></h3>
            <p class="post-description">{{ draw.description }}</p>
            <div class="post-status">
                <p>{{ draw.like_count }} Like{{ draw.like_count|pluralize }}</p>
                <p>|</p>
                <p>{{ draw.comments.count }} Comentário{{ draw.comments.count|pluralize }}</p>
            </div>
        </div>

        <div class="user-info">
            <a href="{% url 'accounts:profile_view' draw.author.profile.id %}">{{ draw.author.username }}</a>
            <p>{{ draw.created_at|date:"M d, Y" }}</p>
        </div>
    </footer>

</div>
