<div class="trending-area">
    <h2>Trending Posts</h2>
    <div class="trending-list">

        {% for draw in trending_draws %}
            <div class="trending-post">
                    
                <div class="post-img">
                    {% if draw.img %}
                        <a href="{% url 'draws:draw_view' draw.id %}"><img src="{{ draw.img.url }}" alt="image"></a>
                    {% endif %}
                </div>
                <footer>
                    <div class="post-info">
                        <h3><a href="{% url 'draws:draw_view' draw.id %}">{{ draw.title }}</a></h3>
                        <p class="post-description">{{ draw.description }}</p>
                        <p>{{ draw.like_count }} Likes</p>
                        <button class="like-button" id="like-button" action="{{ draw.id }}">
                            <i class="fa fa-light fa-heart fa-2x"></i>
                        </button>
                    </div>

                    <div class="user-info">
                        <a href="{% url 'accounts:profile_view' draw.author.profile.id %}">{{ draw.author.username }}</a>
                        <p>{{ draw.created_at|date:"M d, Y" }}</p>
                    </div>
                </footer>
            </div>
        {% empty %}
            <p>Nenhum desenho em trendings.</p>
        {% endfor %}

    </div>
</div>

<div class="trending-area">
    <div class="recent-posts">
        <h2>Recent Posts</h2>
        <a class="all-draws-link" href="{% url 'draws:all_draws' %}">Ver mais...</a>
    </div>
    <div class="trending-list">

        {% for draw in recent_draws %}
        <div class="trending-post">
                
            <div class="post-img">
                {% if draw.img %}
                    <a href="{% url 'draws:draw_view' draw.id %}"><img src="{{ draw.img.url }}" alt="image"></a>
                {% endif %}
            </div>
            <footer>
                <div class="post-info">
                    <h3><a href="{% url 'draws:draw_view' draw.id %}">{{ draw.title }}</a></h3>
                    <p class="post-description">{{ draw.description }}</p>
                    <p>{{ draw.like_count }} Likes</p>
                    <button class="like-button" id="like-button" action="{{ draw.id }}">
                        <i class="fa fa-light fa-heart fa-2x"></i>
                    </button>
                </div>

                <div class="user-info">
                    <a href="{% url 'accounts:profile_view' draw.author.profile.id %}">{{ draw.author.username }}</a>
                    <p>{{ draw.created_at|date:"M d, Y" }}</p>
                </div>
            </footer>
        </div>
        {% empty %}
            <p>Nenhum desenho recente.</p>
        {% endfor %}

    </div>
</div>