<div class="draw-view">

    <div class="draw-head">
        <h2 class="draw-title">{{ draw.title }}</h2>
        <p class="draw-description">{{ draw.description }}</p>
    </div>

    <div class="draw-body">
        {% if draw.img %}
            <div class="draw-img">
                <img src="{{ draw.img.url }}" alt="draw-img">
            </div>
        {% endif %}

        <div class="draw-info">
            <div class="like-area">
                {% if request.user.is_authenticated %}
                    {% if request.user.profile in draw.like.all %}
                        <button class="like-button" value="{{ draw.id }}" id="like-btn">
                            <i class="fa fa-light fa-heart fa-2x"></i>
                        </button>
                    {% else %}
                        <button class="like-button white" value="{{ draw.id }}" id="like-btn">
                            <i class="fa fa-light fa-heart fa-2x"></i>
                        </button>
                    {% endif %}
                {% endif %}
                <p id="like_count">{{ draw.like_count }}</p>
                <p>Likes</p>

            </div>
            <p>Draw by: <a href="{% url 'accounts:profile_view' draw.author.profile.id %}">{{ draw.author.username }}</a></p>
        </div>

        <div class="draw-about">
            <h3>Draw's about</h3>
            <p>{{ draw.about }}</p>
        </div>

        <div class="creation-details">
            <p>Criado em: {{ draw.created_at|date:"M d, Y" }}</p>
            <p>Atualizado em: {{ draw.updated_at|date:"M d, Y" }}</p>
        </div>

    </div>
</div>

<script>
    $(document).on('click', '#like-btn', function (e) {
        e.preventDefault();
    
        $.ajax({
        type: 'POST',
        url: '{% url "accounts:like_unlike" %}',
        data: {
            postid: $('#like-btn').val(),
            csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
            action: 'post'
        },
        success: function (json) {
            document.getElementById("like_count").innerHTML = json['result']
        },
        error: function (xhr, errmsg, err) {
        }
        });
    })
</script>
