{% extends 'global/base.html' %}

{% block title %}All draws{% endblock title %}

{% block content %}
    <div class="all-content">
        <h2>Mais recentes</h2>

        <div class="all-list">
            {% for draw in draws %}
                {% include 'draws/partials/_draw_card.html' %}
                {% empty %}
                    <p>Nenhum desenho recente.</p>
                {% endfor %}
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script>
        $('.like-form').submit(function(e){
            e.preventDefault()
            
            const post_id = $(this).attr('id')
            
            const likeText = $(`.like-btn${post_id}`).text()
            const trim = $.trim(likeText)

            const url = $(this).attr('action')
            
            let res;
            const likes = $(`.like-count${post_id}`).text()
            const trimCount = parseInt(likes)
            
            $.ajax({
                type: 'POST',
                url: url,
                data: {
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                    'post_id':post_id,
                },
                success: function(response) {
                    if(trim === 'Unlike') {
                        $(`.like-btn${post_id}`).text('Like')
                        res = trimCount - 1
                    } else {
                        $(`.like-btn${post_id}`).text('Unlike')
                        res = trimCount + 1
                    }

                    $(`.like-count${post_id}`).text(res)
                },
                error: function(response) {
                    console.log('error', response)
                }
            })

        })
    </script>
{% endblock scripts %}
