{% extends 'global/base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
    {% include 'global/partials/_messages.html' %}

    <div class="trending-area">
        <div class="recent-posts">
            <h2>Em alta</h2>
            <a class="all-draws-link" href="{% url 'draws:all_draws' %}">Ver todos...</a>
        </div>
        <div class="trending-list">
            {% for draw in trending_draws %}
                {% include 'draws/partials/_draw_card.html' %}
            {% empty %}
                <p>Nenhum desenho recente.</p>
            {% endfor %}
        </div>
    </div>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}